<h1 class="section"> Got it! </h1>
<section class="section">
	<div class="summary">
		<br/>
		<h2> You have a great <span class="etv-b">email address</span></h2>
		<br/>
		<h3> Thanks for signing up. We'll be sure to send you an email  when we are ready for you.  </h3>
		<hr/>
		<h3> In the meantime, help us get the word out: </h3>
		<div class="social">
			<a class="bg-fb" href="https://www.facebook.com/sharer.php?u=http://endlesstv.com" target="_blank"><i class="icon icon-facebook"></i></a>
			<a class="bg-tw" href="https://twitter.com/share?url=http://endlesstv.com&text=TV+is+Free+Again!+Thanks+%23endlesstv+" target="_blank"><i class="icon icon-twitter"></i></a>
			<a class="bg-gp" href="https://plusone.google.com/_/+1/confirm?hl=en&url=http://endlesstv.com" target="_blank"><i class="icon icon-google-plus"></i></a>
			<a class="bg-li" href="http://www.linkedin.com/shareArticle?mini=true&url=http://endlesstv.com" target="_blank"><i class="icon icon-linkedin"></i></a>
			<a class="bg-em" href="mailto:?subject=EndlessTV&amp;body=Check%20out%20EndlessTV.%20%20I%20think%20you'll%20like%20it%3A%20http%3A%2F%2Fendlesstv.com"><i class="icon icon-envelope"></i></a>
		</div>
	</div>
</section>