<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" /> 
<title>EndlessTV</title>		
<style type="text/css">
body{width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0;} 
h1, h2, h3, h4, h5, h6 {color: #333333, !important;}
@media only screen and (max-width: 480px) {
	body {margin:0; padding:0;}
	*[class=h1] {font-size:22px;}	/* 44px desktop */
	*[class=h2] {font-size:16px;}	/* 34px desktop*/
	*[class=h3] {font-size:12px;} /* 24px desktop */
	*[class=h4] {font-size:9px;} /* 18px deskop */
	*[class=p60] {height:auto; padding:20px 0;}
	table[class="magictable"] {width:100%;}
	*[class=logo] {width:100px; height:100px;}
	*[class=icon] {width:44px; height:44px;}
}
</style>
</head>
<body style="margin:0; padding:0; width:100%;" bgcolor="#ececec">
<table width="640" cellpadding="0" cellspacing="0" border="0" align="center" style="margin:0 auto; padding:0; text-align:center;" class="magictable">
	<tr>
		<td width="20" style="background:#ececec"><p style="width:20px; height:1px; margin:0; padding:0;"> </p></td>
		<td align="center">
			<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" style="margin:0 auto; padding:0; text-align:center;"><tr><td align="center">

				<!-- header start -->
				<tr valign="top"><td align="center">
					<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" style="margin:0 auto; padding: 0; text-align:center; background:#ececec">
						<tr>
							<td align="center">
								<a href="http://endlesstv.com"><img src="http://static.endlesstv.com/logo/endlesstv-logo-360x360.png" alt="EndlessTV" width="180" height="180" border="0" class="logo" /></a>
							</td>
						</tr>
					</table>	
				</td></tr>
				<!-- header end -->

				<!-- body start -->
				<tr valign="top"><td align="center">
					<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" style="margin:0; padding: 0; text-align:center; background:#ececec">
						<tr valign="middle">
							<td align="left" height="120" class="p60">
								<p style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:32px; color:#333333; font-weight:normal; margin:0; padding:0;">
									<span class="h1">Dear TV Lover,</span>
								</p>
							</td>
						</tr>
						<tr valign="middle">
							<td align="left" height="120" class="p60">
								<p style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:32px; color:#333333; font-weight:normal; margin:0; padding:0;">
									<span class="h1">Thanks for your interest in EndlessTV!</span>
								</p>
							</td>
						</tr>
						<tr valign="middle">
							<td align="left" height="120" class="p60">
								<p style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:32px; color:#333333; font-weight:normal; margin:0; padding:0;">
									<span class="h1"><a style="display:inline-block; background:#25bf79; color:#fff; text-decoration:none; border-bottom:2px solid #a4edcc; padding:4px 6px" href="{{VALIDATION_LINK}}">Click here</a> to confirm your email address.</span>
								</p>
							</td>
						</tr>
					</table>	
				</td></tr>
				<!-- body end -->

				<!-- footer start -->
				<tr valign="top"><td align="center">
					<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" style="margin:0; padding: 0; text-align:center; background:#ececec">
						<tr>
							<td height="220">
								<p style="width:10px; height:220px; margin:0; padding:0;"> </p>
							</td>
						</tr>	
						<tr>
							<td align="center">
								<p style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:22px; color:#6a6a6a; font-weight:normal; margin:0; padding:0;">
									<span class="h2">EndlessTV has sent you this email based on your interest in early access.  If you believe you have received this message in error, please ignore it.</h2>
								</p>
							</td>
						</tr>
						<tr>
							<td height="40">
								<p style="width:10px; height:40px; margin:0; padding:0;"> </p>
							</td>
						</tr>
						<tr>
							<td align="center">
								<a href="#" style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; color:#6a6a6a; text-decoration:none; font-size:22px; font-weight:bold;">
									<span style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;">ENDLESS TV</span> <br/> <span style="font-family:Helvetica, Arial, sans-serif;">39 W 38th St <br/> New York, NY 10018</span>
								</a>
							</td>
						</tr>
						<tr>
							<td align="center">
								<a href="http://twitter.com/endless_tv"><img class="icon" src="http://static.endlesstv.com/email/social_icon_twitter.png" alt="Twitter" border="0" width="60" height="60" hspace="4" vspace="4" /></a>
								<a href="http://linkedin.com/company/endlesstv"><img class="icon" src="http://static.endlesstv.com/email/social_icon_linkedin.png" alt="LinkedIn" border="0" width="60" height="60" hspace="4" vspace="4" /></a>
								<a href="https://plus.google.com/+Endlesstv_is_amazing"><img class="icon" src="http://static.endlesstv.com/email/social_icon_googleplus.png" alt="Google Plus" border="0" width="60" height="60" hspace="4" vspace="4" /></a>
								<a href="http://www.facebook.com/tv.endless"><img class="icon" src="http://static.endlesstv.com/email/social_icon_facebook.png" alt="Facebook" border="0" width="60" height="60" hspace="4" vspace="4" /></a>
							</td>
						</tr>
						<tr>
							<td height="40">
								<p style="width:10px; height:40px; margin:0; padding:0;"> </p>
							</td>
						</tr>
					</table>		
				</td></tr>
				<!-- footer end -->


			</td><tr></table>
		</td>
		<td width="20" style="background:#ececec"><p style="width:20px; height:1px; margin:0; padding:0;"> </p></td>
	</tr>
</table>
</body>
</html>